<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="LoginForm">
    <ion-row class="login" class="conten-top">
      <ion-col size="12" size-md>
        <img class="logo-img "
          src="https://cdn2.vectorstock.com/i/thumb-large/25/56/jasmine-flower-filled-outline-icon-vector-20632556.jpg">
        <ion-text color="primary" class="conten-center">
          <h1 class="title-party">พรรคมะลิ</h1>
          <h6 class="sub-title-party">JASMINE PARTY</h6>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">

        <ion-list class="line-input">
          <ion-item>
            <ion-input placeholder="อีเมล/โทรศัพท์"></ion-input>
          </ion-item>
          <ion-item class="list-item">
            <ion-input required type="password" placeholder="กรุณากรอกรหัสผ่าน"></ion-input>
            <ion-icon name="eye"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-item lines="none" class="checkbox-line-conten">
          <ion-label>จำฉันไว้</ion-label>
          <ion-checkbox color="danger" slot="start"></ion-checkbox>
          <ion-text size="small" rowor="medium">ลืมรหัสผ่าน?</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="login">
      <ion-col size="12" size-md>
        <ion-button expand="block">เข้าสู่ระบบ</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>